<div class="container" ng-controller="BlogController">

<form ng-submit="addMessage()" name="chatMsg">

<table class="table table-bordered">

<tr>

<td>Chat Text</td>

<input type="text" ng-model="message"/>

<span class="count" ng-bind="max-message.length"></span>

</tr>

<td>

<button ng-disabled="message.length>140|message.length==0" class="btn btn-info">Send</button>

</td>



</table>

</form>



	<p ng-repeat="message in messages|orderBy:'time':true">

		

		<time>{{message.time | date: 'HH:mm'}}</time>

		<span> {{message.message}}</span>

	</p>

	</div>