<div class="container" ng-controller="FriendController">
<div class="row">
<div class="main">
   <h3>
     Friend
   </h3>
</div>
</div>


<div style="background-colour:cyan"><h3 align="left">Friend List</h3></div>

<div class="row text-center text-lg-eft">
<div ng-repeat="friend in friendList" class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
<div ng-show="friend.username==currentUser.username">
<img src="https://localhost:8036/middleware/getImage/{{friend.friendusername}}" class="img-circle" width="100" height="100">
<p>
<strong>{{friend.friendusername}}</strong>
<input type="button"value="Unfriend" ng-click="unfriend(friend.friendId)" class="btn btn-danger"/>
</p>
</div>
<div ng-show="friend.friendusername==currentUser.username">
<img src="http://localhost:8036/middleware/getImage/{{friend.username}}" class="img-circle" width="100" height="100">
<p>
<strong>{{friend.username}}</strong>
<input type="button" value="unfriend" ng-click="unfriend(friend.friendId)" class="btn btn-danger"/>
</p>
</div>
</div>
</div>


<div style="background-colour:cyan"><h3 align="left">Pending Friend List</h3></div>

<div class="row text-center text-lg-left">
<div ng-repeat="friend in pendingFriendList" class="col-lg-3 col-md-4 col-sm-6 col-xs-12">

<div ng-show="friend.friendusername==currentUser.username">
<img src="http://localhost:8036/middleWare/get Image/{{friend.username}}" class="img-circle" width="100" height="100">
<p>
<strong>{{friend.username}}</strong>
<input type="button" value="Accept" ng-click="accept(friend.friendId)"class="btn btn-success"/>
<input type="button"value="Reject" ng-click="unfriend(friend.friendId)" class="btn btn-danger"/>
</p>
</div>
</div>
</div>
</div>







