<div class="container" ng-controller="JobController">
<div class="row">
<div class="main1">
<h3>Job Info</h3>
</div>

<div>
<div class="panel-group" id="accordion">
<div class="panel panel-default" ng-repeat="job in jobs">
<div class="panel-heading" ng-show="blog.status=='A'">
<h4 class="panel-title">
<a data-toggle="collapse" data-parent="accoridon" href="!#{{job.jobid}}">{{job.description}}</a>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<input type="button" value="Apply" class="btn btn-success"/>
</h4>
</div>

<div id="{{job.jobid}}" class="panel-collapse collapse">
<div class="panel-body">
<table class="table table-bordered">
<tr><td>Job Description</td></tr><td>{{job.description}}</td>
<tr><td>Company Name</td></tr><td>{{job.companyName}}</td>
<tr><td>Location</td></tr><td>{{job.location}}</td>
<tr><td>CTC</td></tr><td>{{job.ctc}}/- (Annually)</td></tr>
<tr><td>LastDate</td></tr><td>{{job.lastdateforApply}}</td></tr>
<tr><td>Skill</td></tr><td>{{job.skills}}</td></tr>
</table>
</div>
</div>
</div>
</div>
</div>
</div>
</div>